APP_PORT=3000

FRONTEND_URL=http://localhost:5173

DB_HOST=database.lab6.orb.local
DB_PORT=5432
DB_USERNAME=nodejs
DB_PASSWORD=nodejs
DB_NAME=lab6

DATABASE_URL=postgresql://nodejs:nodejs@database.lab6.orb.local/lab6?schema=public